@using Microsoft.AspNet.Identity
@model Klik.Models.GameSession

@{
    ViewBag.Title = "Game";
}

<div id="difficulty-menu
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="list-group">
                <button class="list-group-item btn-difficulty" id="easy">Easy</button>
                <button class="list-group-item btn-difficulty" id="medium">Medium</button>
                <button class="list-group-item btn-difficulty" id="hard">Hard</button>
            </div>
        </div>
    </div>
</div>

<div id="game-status">
    <p>
        <strong>Time: </strong><span id="game-time">10s</span>
    </p>
    <p>
        <strong>Score: </strong><span id="game-score">0</span>
    </p>
</div>

<div id="game-section">
    <p id="countdown">The game will start in 3</p>
</div>

<div id="game-result">
    @using (Html.BeginForm("SaveGameSession", "Game", FormMethod.Post, new { id = "game-session-submit-form" }))
    {
        @Html.HiddenFor(m => m.Score)
        @Html.HiddenFor(m => m.DifficultyId)
        @Html.HiddenFor(m => m.UserId, new {Value = @User.Identity.GetUserId()})
        @Html.HiddenFor(m => m.DatePlayed, new {Value = @DateTime.Now})
        <p>
            <strong>Score: </strong><span id="result"></span>
        </p>
        <p>
            <button type="submit" class="btn-big" id="btn-save"><i class="fa fa-save"></i> Save Game</button>
        </p>
    }
    <button class="btn-big" id="btn-play"><i class="fa fa-rotate-right"></i> Play Again</button>
</div>