@using Microsoft.AspNet.Identity

<div id="header">
    @Html.ActionLink("KLIK", "Index", "Game", null, new { @class = "title" })

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        @{
                            var actionName = ViewContext.RouteData.Values["action"].ToString();
                            var activeIndex = actionName == "Index" ? "active" : "";
                            var activeProfile = actionName == "PlayerProfile" ? "active" : "";
                            var activeRanking = actionName == "Ranking" ? "active" : "";
                        }
                        <li class=@activeIndex><a href="/">Game <span class="sr-only">(current)</span></a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class=@activeProfile>@Html.ActionLink("Profile", "PlayerProfile", "Game")</li>
                        }
                        <li class=@activeRanking>@Html.ActionLink("Ranking", "Ranking", "Game")</li>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = " navbar-left"}))
                            {
                                @Html.AntiForgeryToken()

                                <ul class="nav navbar-nav navbar-left">
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                </ul>
                            }
                        }
                        else
                        {
                            <li>@Html.ActionLink("Log In", "Login", "Account")</li>
                        }
                    </ul>
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
</div>